@page
@model Employee_Management.Pages.EmployeePositionView.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeePosition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePosition.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeePosition.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePosition.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeePosition.Employee.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePosition.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeePosition.Position.PositionId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EmployeePosition.EmployeeId" />
        <input type="hidden" asp-for="EmployeePosition.PositionId" />
        <input type="hidden" asp-for="EmployeePosition.StartDate" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
