@page
@model Employee_Management.Pages.SalaryView.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].SalaryAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].SalaryMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary[0].Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Salary) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SalaryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SalaryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SalaryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
